@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
:root{
    --btn-color:#69724F;
    --main-color: #666363;

    }
.flex{
display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}    
    header{
    width: 100%;
    height: 110px;
    border:1px solid var(--btn-color) ;
    }
.header-wrap{
    justify-content: space-around;
    align-items: center;
}
.logo{
    margin-top: 7px;
}
.menu{
    gap: 47px;
}
.menu a{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-color);
    }
.button{
    width: 180px;
    height: 70px;
    background-color: var(--btn-color);
}
.btn{
    color: #F5F5F5F5;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: block;
    padding: 23px 46px; 
}
.sec_1{
    width: 100%;
    height: 900px;
    background-image: url(/images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec_1-wrap{
    gap: 92px;
}
.sec_1-h2{
    width: 202px;
    height: 96px;
    margin-left: 150px;
    margin-top: 70px;
    font-family: "Lora", serif;
    font-weight: 700px;
    font-size: 32px;
    line-height: 48px;
    color: var(--main-color);
    }
.sec_1-h1{
    width: 202px;
    height: 96px;
    margin-left: 150px;
    margin-top: 70px;
    font-family: "Lora", serif;
    font-weight: 700px;
    font-size: 54px;
    line-height: 81px;
    color: var(--main-color);
}
.line{
    margin-top: 50px;
    margin-left: 1000px;
    
    width: 200p;
    top: 404px;
    left: 820px;
    border: 1px;    
    color: var(--main-color);
}
.h2{
    margin-left: 150px;
    margin-top: 70px;
    background-color: var(--btn-color);
    height: 50px;
    font-size: 50px;
    line-height: 34px;
    font-weight: 700;
    display: block;
    padding: 33px 46px;
    color: #F5F5F5F5; 
}
.sec_1-p{
    margin-left: 150px;
    margin-top: 70px;
    display: flex;
    font-weight: 400;
    size: 16px;
    line-height: 20.8px;
}
.img{
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    margin-left: 750px;
}
.sec2-wrap{
    background-color: #F5F4FA;;
    width: 100%;
    height: 1600px;
}
.line2{
    margin-bottom: 100px;
    margin-left: 1245px;
    width: 200p;
    top: 404px;
    left: 820px;
    border: 1px;    
    color: var(--main-color);
}
.text22{
    font-size: 60px;
    margin-left: 1005px;
}
.text1{
    display: flex;
    align-items: center;
    gap: 175px;
    margin-left: 750px;
}
.text2{
    display: flex;
    margin-left: 775px;
    gap: 225px;
    color: #757575;
}
.text3{
    margin-top: 200px;
    align-items: center;
    gap: 145px;
    margin-left: 1200px;
    font-size: 32px;
}
.section1{
width: 2000px;
}
.line3{
    margin-top: 25px;
    margin-left: 1265px;
    color: var(--main-color);
}
.class23{
    margin-top: 50px;
    background-image: url(/images/Rectangle\ 13.png);
    width: 100%;
height: 408px;
background-repeat: no-repeat;
background-size: cover;
}
.donateto{
    margin-left: 1150px;
color: black;
font-size: 24px;
font-weight: 700;
line-height: 36px;

}
form{
    margin-left: 1200px;
}
input{
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
    width: 300px;
    height: 50px;
    border: 0px;
    margin-top: 50px;
    display: block;
}
.button1{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 75px;
width: 150px;
height: 40px;
top: 2172px;
left: 725px;

margin-top: 50px;
}
.imgrecycle{
    margin-top: 50px;
    margin-left: 650px;
}
.recycle{
    margin-top: 50px;
    margin-left: 1200px;
    color: black;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.greenbar{
    margin-top: 100px;
    background-color: #69724F;
    ;
    color: #F5F4FA;
    align-items: center;
    height: 90px;
}

.whitetext{
    margin-bottom: 30px;
    color: white;
    font-size: 44px;
    display: block;
    text-align: center;
    padding-top: 15px;
}
